/*
	Twoto Style
	 byPatrick Decaix
	 http://twoto.com

*/
html{
	background-image: url("../img/background_pxline.jpg");
	background-repeat:repeat-x;
	background-color:#FFFEEA;
	}

body {
	display:table;
	margin:0;
	padding:0;
	width:100%;
	
	font-family:Georgia,'Times New Roman',serif;
	font-size:11px;

	background-image: url("../img/background.jpg");
	background-position:center top;
	background-repeat:no-repeat;
}

#header{
	margin-top:10px;
	}
#stage{
	height:130px;

	margin:40px 0 0 250px;

	background-image: url("../img/introTxt.png");
	background-repeat:no-repeat;
	}
#menu {
	margin-top:0px;
}
.contentStage h1, .contentStage p{
	font-style:italic;
	}
.contentStage{
	height:0px;
	margin-top:110px;
	/*
	background-color:#000000;
	background-image:url("../img/stageBackground.png");
	*/
	background-position: center top;
	background-repeat:no-repeat;
	display: none;
	/*opacity:0;*/
	visibility:hidden;
	width:100%;
	
}
/*****form******/
label, input, select { /* Alle Labels UND Formularelemente auswählen */

  display: block;
  float: left;
/*  
  color:#999999;
	font-size:11px;
	font-weight:normal;
	line-height:14px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:normal;
	margin:6px 0 0 0;
 
 	border:none;
	border-bottom: 1px dotted #999999;
	*/
 
}
select{

}
form br { /* Alle Zeilenumbrüche in Formularen auswählen */
  clear: left; /* das floating der labels und inputs aufheben */
}
textarea {
	width:210px;
	height:20px;
	background-color:transparent;
}
input#submit { /* den Submit-Button */
  float: left;
  width: auto;
  
}
input {
	/*
	background-color: transparent;
	height:10px;
	padding:2px 0 2px 1px;
	*/
}

label {
 text-align: left; 
 padding-right: 2px; 
}
form {
  margin:0;
  padding:.1em;
}
/**** Masonry CSS ****/

.wrap {
    padding: 0;
	margin: 0;
	width:960px;
	margin:0 0 20px 0;
}

.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box {
	font-size:11px;
    margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
    float: left;

}

.colWidth { width: 220px; }


/**** END Masonry CSS ****/

.thumbnail{
	margin-top:5px;
}
.expendedElt{
	padding: 5px 0 0 0;
}
#profile_extended .expendedElt p{
	width:187px;
	}
	.contentStageList {
		padding-left:12px;
	}
.line{
		border-top:solid 1px  #666666;
		
		
}
.txtElt{
	border-top:1px solid #cdccbc;
	padding: 5px 0 0 0;
}

.box a{
		/***border-bottom: 1px dotted;****/
}
.naviElt{
	padding: 5px 0 7px 0;
}	

ul {
	margin: 3px 0 0 0;
	padding:0;
}

 li a{
	font-style:italic;
}


	/* Navigation */
#filterNavigation { margin: 0 auto; list-style: none; position: relative;}
#filterNavigation li { display: inline; }
#filterNavigation li { color: black; }
#filterNavigation li a { position: relative; z-index: 200; font-size: 11px; display: block; float: left; padding: 6px 10px 4px 10px; text-decoration: none; }
#filterNavigation li a:hover { color: #ffebea; }

#filterNavigation #magicBox { position: absolute; top: 0; left: 0; width: 100px; height:16px;background:#333333; z-index: 100; -moz-border-radius: 8px; -webkit-border-radius: 8px; margin-top:5px}
li.selected_filter a { color: #ffebea; }
/*end*/

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
/**:first-child+html .group { zoom:1; } /* IE7 */

#profile a,#service a,#contact a,#search a,#feeds a{
	background: url("../img/moreButton.png") no-repeat 0 0;
	padding:0 0 4px 20px;
	font-style:italic;
}


a.buttonNews{
	color:#FF007F;
	font-style:italic;
}

a.buttonPink {
	font-size:14px;
	padding:5px 15px;
}

a.button:link, a.button:visited, a.button:active {
	color:#FFFEEA;
}
#blockElt {
	border:0;
	margin:10px 0px;
	padding: 5px 0 0 0;
	width:150px;
	
}
h1 {
	margin:0;
	padding:0;
	color:#222222;
	font-family:"Helvetica Neue",Helvetica,arial,sans-serif;
	font-size:13px;
	font-weight:normal;
	line-height:16px;
	text-align:left;
}
h2 {
	margin:0;
	padding:0;
	color:#FF007F;
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	float:left;
}
h5 {
	margin:0;
	padding:0;
	color:#333333;
	font-family:Georgia,'Times New Roman',serif;
	font-size:11px;
	font-weight:normal;
	line-height:16px;
	font-style:italic;
}

p {
	margin: 3px 0 10px 0;
	color:#1E1E1E;
	font-size:11px;
	font-style:normal;
	font-weight:500;
	line-height:14px;
}
a:link, a:visited, a:active {
	color:#222222;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	font-style:italic;
}
a
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}