html{
	background-image: url("../img/background_pxline.jpg");
	background-repeat:repeat-x;
	background-color:#FFFEEA;
	}

body {
	display:table;
	margin:0;
	padding:0;
	width:100%;
	
	font-family:Georgia,'Times New Roman',serif;
	font-size:11px;

	background-image: url("../img/background.jpg");
	background-position:center top;
	background-repeat:no-repeat;
  
}

#header{
	margin-top:10px;
	}
#stage{
	height:130px;
	margin:40px 0 0 250px;
	background-image: url("../img/introTxt.png");
	background-repeat:no-repeat;
	}
#menu {
	margin-top:60px;
}
/**** Masonry CSS ****/

.wrap {
    padding: 0;
	margin: 0;
	width:960px;
	margin:0 0 20px 0;
}

.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box {
	font-size:11px;
    margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
    float: left;

}

.colWidth { width: 220px; }


/**** END Masonry CSS ****/

.thumbnail{
	margin-top:5px;
}
.txtElt{
	border-top:1px solid #cdccbc;
	padding: 5px 0 0 0;
}

.box a{
		/***border-bottom: 1px dotted;****/
}
.naviElt{
	padding: 5px 0 7px 0;
}	

ul {
	margin:0;
	padding:0 0 0 10px;
}

 li a{
	font-style:italic;
}
#filteringNav{
}
#filteringNav li {
float:left;
margin:0 0 0 0;
padding: 0 15px 0 0;
z-index: 200;
list-style:none outside none;
}

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */

#profile a,#service a,#contact a,#search a,#feeds a{
	background: url("../img/moreButton.png") no-repeat 0 0;
	padding:0 0 2px 20px;
	font-style:italic;
}
	
#magic-line {
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100px; 
	background: rgba(220, 133, 5, 1);
	z-index:100;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}



a.buttonNews{
	color:#FF007F;
	font-style:italic;
}

a.buttonPink {
	font-size:14px;
	padding:5px 15px;
}

a.button:link, a.button:visited, a.button:active {
	color:#FFFEEA;
}
#blockElt {
	border:0;
	margin:10px 0px;
	padding: 5px 0 0 0;
	width:150px;
	
}
h1 {
	margin:0;
	padding:0;
	color:#222222;
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	text-align:left;
}
h2 {
	margin:0;
	padding:0;
	color:#FF007F;
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	float:left;
}
h5 {
	margin:0;
	padding:0;
	color:#333333;
	font-family:Georgia,'Times New Roman',serif;
	font-size:11px;
	font-weight:normal;
	line-height:16px;
	font-style:italic;
}

p {
	margin: 3px 0 10px 0;
	color:#1E1E1E;
	font-size:11px;
	font-style:normal;
	font-weight:500;
	line-height:14px;
}
a:link, a:visited, a:active {
	color:#222222;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	font-style:italic;
}


