/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

#filterNavigation { margin: 0 auto; list-style: none; position: relative; width: 960px; }
#filterNavigation li { display: inline; }
#filterNavigation li { color: black; }
#filterNavigation li a { position: relative; z-index: 200; font-size: 11px; display: block; float: left; padding: 6px 10px 4px 10px; text-decoration: none; }

#filterNavigation li a:hover { color: white; }
#filterNavigation #magicBox { position: absolute; top: 0; left: 0; width: 100px; background: rgba(0, 0, 0, 0.9); z-index: 100; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top:3px}

.current_page_item_two a { color: white; }