html{
	background-image: url("../img/background_pxline.jpg");
	background-repeat:repeat-x;
	background-color:#FFFEEA;
	}

body {
	display:table;
margin:0;
padding:0;
width:100%;
	
	font-family:Georgia,'Times New Roman',serif;
	font-size:11px;

	background-image: url("../img/background.jpg");
	background-position:center top;
	background-repeat:no-repeat;
  
}

#header{
	margin-top:10px;
	}
#stage{
	height:200px;
	margin-top:40px;
	}
.bground{

}
/**** Masonry CSS ****/

.wrap {
    padding: 0;
	margin: 0;
	width:960px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box {
	font-size:11px;
    margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
    float: left;

}

.col1 { width: 220px; }


/**** END Masonry CSS ****/

.thumbnail{
	margin-top:5px;
}
.txtElt{
	border-top:1px solid #cdccbc;
	padding: 5px 0 0 0;
}	
a.buttonNews{
	color:#FF007F;
	font-style:italic;
}

a.buttonPink {
	font-size:14px;
	padding:5px 15px;
}

a.button:link, a.button:visited, a.button:active {
	color:#FFFEEA;
}
#blockElt {
	border:0;
	margin:10px 0px;
	padding: 5px 0 0 0;
	width:150px;
	
}
h1 {
	margin:0;
	padding:0;
	color:#222222;
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	text-align:left;
}
h2 {
	margin:0;
	padding:0;
	color:#FF007F;
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	float:left;
}

p {
	margin: 3px 0 5px 0;
	color:#1E1E1E;
	font-size:11px;
	font-style:normal;
	font-weight:500;
	line-height:14px;
}
a:link, a:visited, a:active {
	color:#222222;
	font-size:11px;
	font-weight:500;
	text-decoration:none;
	font-style:italic;
}


